*{
    font-family: 'Vazir', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.amir{
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: -20px;
    text-shadow: 1px 1px 10px lightgreen;
}
.info{
    margin-bottom: 15px;
}

@keyframes gradient {
    0% {
        background: radial-gradient(circle at center, rgba(188, 255, 125, 0) 0%, #fff 0%, #fff 100%);
    }
    75% {
        background: radial-gradient(circle at center, rgba(149, 255, 125, 0.8) 74%, #fff 75%, #fff 100%);
    }
}

h1 , p{
    text-align: center;
    margin-top: 25px;
}
p{
    font-size: 17px;
}
.tasks{
    margin-top: 1%;
    text-align: center;
}
label{
    font-size: 20px;
}
#task-input, #button-task{
    font-size: 17px;
    box-shadow: 4px 4px 1px #3c3c3c;
    outline: none;
}
#task-input{
    border: 1px solid black;
    padding: 7px;
    transition: 0.2s ease-in;
    width: 300px;
}
#task-input:focus{
    box-shadow: none;
}
#task-input::placeholder{
    font-size: 14px;
}
#button-task{
    padding: 5px;
    margin-left: 1%;
    background: none;
    background: #fff;
    outline: none;
    transition: 0.1s ease-in;
}
#button-task:active{
    animation: gradient 100ms;
    background: #95FF7DCC;
    color: #fff;
    box-shadow: none;
}
.task-item {
    display: flex;
    justify-content: left;
    border: 1px solid black;
    border-radius: 5px;
    width: 350px;
    margin: auto;
    margin-top: 15px;
    padding-bottom: 16px;
    /*transition: 0.5s ease-in-out;*/
}
.checkbox {
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 20px;
}
.contain-button{
    margin-top: 30px;
    margin-bottom: -20px;
}
#dark-mode{
    width: 100px;
    height: 30px;
    background: #282828;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
#dark-mode:hover{
    background: #212121;
}
.taskcounter{
    display: flex;
    width: 250px;
    margin: auto;
    border: 1px solid black;
    padding: 5px;
    justify-content: center;
    border-radius: 1px;
}